<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css"> 
</head>

<body>
    <!--
        Por que não é .Publicacao já que foi isto que foi passado na chamada da API?
        Quando se passa um slice os dados são recebidos em forma de tabela de linhas.
        Quando se passa um struct os campos precisam ser referenciados um a um.

        Neste caso específico as linhas possuem as propriedades e são elas que são referenciadas.

        Caso fosse passado um struct contendo campos e o slice com as publicações aí sim, faríamos
        referência ao campo que na verdade é um slice.

        Ex. em GO
        type dadospublicacao struct {
            Publicacao []publicacoes
            DataVisualizacao string
            VezesVisualizadas uint
        }

        publicacoes := dadospublicacoes {
            Publicacao: publicacoesRecebidasAPI,
            DataVisualizacao: "23/02/2023",
            VezesVisualizadas: 300
        }

        utils.ExecutarTemplate(w, "home.html", publicacoes)

        Ao executar o código acima, a página precisaria tratar os dados conforme abaixo.

        <h4>Visualizado em: {{ .DataVisualizacao }}</h4>
        <h4>Vezes visualizada: {{ .VezesVisualizadas }}</h4>
        {{ range .Pubicacao}}
        <h4>Título: {{ .Titulo }}</h4>
        <h4>Conteúdo: {{ .Conteudo }}</h4>
        <hr/>
        {{ end }}
    -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <!-- Cria uma linha com 12 colunas-->
        <div class="row mt-4">
            <!-- para as telas pequenas (xs e sm, divide a linha em 12 colunas para os demais tamanhos em 5 colunas)-->
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <!-- Formulário -->
                <h3>Nova Publicação</h3>
                <fieldset>
                    <form id="nova-publicacao">
                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required="required"
                                placeholder="Insira o título da sua publicação">
                        </div>
                        <div class="form-group">
                            <label for="conteudo">Conteúdo</label>
                            <textarea class="form-control" id="conteudo" name="conteudo" required="required"
                                placeholder="Insira a sua publicação"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Publicar</button>
                    </form>
                </fieldset>

            </div>
            <!-- Se a tela for pequena o conteúdo ficará na linha de baixo, caso contrário ao lado-->
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <!-- Publicações -->
                {{ range .}}
                <div class="jumbotron">
                    <h1 class="display-4">{{ .Titulo }}</h1>
                    <p class="lead">{{ .Conteudo }}</p>
                    <a href="#"> {{ .AutorNick }} - {{ .CriadoEm }}</a>
                    <p>Botões</p>
                  </div>                
                {{ end }}

            </div>

        </div>

    </div>
    <footer class="text-muted mt-4">
        <div class="container">
            <p>
                DevBook 2023 - Todos os direitos reservados
            </p>
        </div>
    </footer>
</body>

</html>