<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto DevBook - Aprenda Go Lang - Login</title>
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Projeto DevBook - Aprenda GoLang</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <a href="#">Clique aqui para criar a sua conta</a>
                <button type="submit" class="btn-devbook">Login</button>
            </form>
        </div>
    </div>
</body>
</html>